.post {
    text-align: left;
    padding: 20px;

    .title {
        font-size: 24px;
        font-weight: 700;
    }
    .body {
        font-size: 16px;
    }
    .user {
        font-size: 13px;
        color: gray;
    }
    .square-container {

        width: 70px;
        display: inline-flex;
        align-items: center;
        display: inline-grid;
        align-items: center;
        text-align: center;
        color: white;
        font-size: 22px;

        .square {
            cursor: pointer;
            width: 50px;
            height: 50px;   
            border: 1px solid transparent;
            border-radius: 6px;
            display: inline-grid;
            align-items: center;
            letter-spacing: -2px;
        }
    }
}