.list-header {
    border: 1px solid #eee;
    border-radius: 10px;
    background-color: #cdcdcd;
    height: 32px;
    display: flex;
    width: 80%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    align-items: center;
    margin: -1px auto;
    padding: 0 20px;
}

.list-container {
    padding: 0 10px;
    border: 1px solid #eee;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto 1rem;
    overflow: hidden;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    .post-row {
        position: relative;
    }

    .separator {
        background-color: #eee;        
        height: 1px;
        margin: 0 20px;
    }
}