.navbar {
    background-color: red;
    color: white;
    font-size: 32px;
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    text-align: center;

    .back-button {
        position: fixed;
        left: 13px;
        top: 13px;
        background-color: white;
    }

    .settings-button {
        position: fixed;
        right: 26px;
        top: 13px;
        background-color: red;
        border: none;
        color: white;
        cursor: pointer;
    }
}